@using RTB.Blazor.UI.Extensions

@inherits RTBComponent

@code {
    [Parameter, EditorRequired] public RenderFragment ActionContent { get; set; } = default!;
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;

    private string _isVisible = "collapse";
    private string Visibility
    {
        get => _isVisible;
        set => SetProperty(ref _isVisible, value);
    }
}

<Styled Context="ComponentClass">
    <Other Property="position" Value="relative" />
    <Other Property="display" Value="inline-block" />
    <Other Property="cursor" Value="pointer" />

    <div class="@ComponentClass group @(Class)"
        @onmouseover="@(() => Visibility = "visible")"
        @onmouseout="@(() => Visibility = "collapse")"
    >
        @ActionContent

        <Styled Context="ChildContentClass">
            <Other Property="position" Value="absolute" />
            <Positioned Top="SizeUnit.Percent(100)" Left="0" />
            <Other Property="visibility" Value="@Visibility" />
            <Size MinWidth="@SizeUnit.Percent(100)" />
            
            <div class="@ChildContentClass">
                @ChildContent
            </div>
        </Styled>
    </div>
</Styled>