@using RTB.Blazor.Extensions

@inherits RTBComponent

@code {
    [Parameter, EditorRequired] public RenderFragment Activator { get; set; } = default!;
    [Parameter, EditorRequired] public RenderFragment FlyoutContent { get; set; } = default!;
    [Parameter, EditorRequired] public FlyoutPosition Position { get; set; } = FlyoutPosition.Bottom;

    [Parameter] public string? ActivatorClass { get; set; }
    [Parameter] public string? ContentClass { get; set; }

    private readonly string FlyoutId = $"flyout-{Guid.NewGuid().ToString("N").Substring(0, 8)}";

    private string ToCss(FlyoutPosition pos)
    {
        var src = pos.ToString();

        int extra = src.Count(char.IsUpper) - 1;
        int len = src.Length + Math.Max(extra, 0);

        return string.Create(len, src, (span, value) =>
        {
            var pos = 0;
            for (var i = 0; i < value.Length; i++)
            {
                var c = value[i];
                if (char.IsUpper(c))
                {
                    if (i != 0) span[pos++] = ' ';
                    c = char.ToLowerInvariant(c);
                }
                span[pos++] = c;
            }
        });
    }
}

<Styled Context="ComponentClass">
    <div style="position: relative;">
        <button popovertarget="@FlyoutId" class="@CombineClass(Class, ComponentClass ,ActivatorClass)" style="anchor-name: --@FlyoutId;">
            @Activator
        </button>

        <Styled Context="MenuClass">
            <Margin All="0" />
            <Other Property="position" Value="absolute" />
            <Other Property="insert" Value="auto" />
            <Other Property="position-area" Value="@ToCss(Position)" />
            <Overflow />
            <Size MinHeight="0" />
            <Other Property="max-width" Value="anchor-size(width)" />

            <div class="@CombineClass(ContentClass, MenuClass)" popover id="@FlyoutId" style="position-anchor: --@FlyoutId;">
                @FlyoutContent
            </div>
        </Styled>
    </div>
</Styled>

@code {
    public enum FlyoutPosition
    {
        TopLeft, Top, TopRight,
        BottomLeft, Bottom, BottomRight,
        LeftTop, Left, LeftBottom,
        RightTop, Right, RightBottom,
        Center
    }
}
