@using RTB.Blazor.UI.Extensions
@using RTB.Blazor.UI.Interfaces

@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string Columns { get; set; } = "1fr";
    [Parameter] public string Rows { get; set; } = "1fr";
    [Parameter] public bool Center { get; set; } = false;
    [Parameter] public Spacing? Gap { get; set; }
    [Parameter] public Grid.Placement? ItemPlacement { get; set; }
}

<Styled Context="ComponentClass">
    <Grid TemplateColumns="@Columns" TemplateRows="@Rows" Gap="@Gap" ItemPlacement="@ItemPlacement" />
    
    <div
        class="@CombineClass("rtb-grid", ComponentClass, Class)"
    >
        @ChildContent
    </div>
</Styled>