@inherits LayoutComponentBase

@code {
    [CascadingParameter] private ISampleTheme Theme { get; set; } = default!;
}

<Styled Context="MainLayoutClass">
    <Background Color="@Theme.Background" />
    <Color Value="@Theme.TextColor"/>
    <Size MaxHeight="@SizeUnit.Vh(100)" MaxWidth="@SizeUnit.Vw(100)" />
    <Overflow Value="@Overflow.OverflowMode.Auto" /> 

    <div class="@MainLayoutClass">
        <Styled Context="BodyClass" DependsOn="@([StyleBuilder.Start.Background(RTBColors.Red)])">
            <Padding Horizontal="@Theme.Spacing" />
            <Size FullWidth />

            <Media BreakPoint="@Theme.Mobile">
                <Size MaxHeight="@Theme.Mobile.MaxWidth" />
            </Media>
            <Media BreakPoint="@Theme.Tablet">
                <Size MaxWidth="@Theme.Tablet.MaxWidth" />
            </Media>
            <Media BreakPoint="@Theme.Desktop">
                <Size MaxWidth="@Theme.Desktop.MaxWidth" />
            </Media>

            <Container Class="@BodyClass">
                @Body
            </Container>
        </Styled>
    </div>
</Styled>