@typeparam TItem
@inherits RTBComponent

@using RTB.BlazorUI.Components
@using RTB.BlazorUI.Extensions

@code {
    [Parameter] public bool IsHorizontal { get; set; } = false;
    [Parameter] public bool IsVertical { get; set; } = false;
    [Parameter] public bool FullHeight { get; set; } = false;
    [Parameter] public IEnumerable<TItem> Items { get; set; } = Enumerable.Empty<TItem>();
    [Parameter] public RenderFragment<TItem>? ItemTemplate {get; set; }
    [Parameter] public RenderFragment? HeaderTemplate { get; set; }
}

<div class="flex @(FullHeight ? "h-full" : string.Empty) @(IsHorizontal ? "flex-row" : string.Empty) @(IsVertical ? "flex-col" : string.Empty) @(CapturedAttributes.GetValueOrDefault("class"))"
    @attributes="@(CapturedAttributes.Without("class"))">
    @if (Items.Any())
    {
        foreach (var item in Items)
        {
            @if (ItemTemplate != null)
            {
                @ItemTemplate(item)
            }
            else
            {
                @item?.ToString()
            }
        }
    }
</div>