@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper
@using static RTB.BlazorUI.Helper.CssValues

@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    [Parameter] public bool IsHorizontal { get; set; } = false;
    [Parameter] public bool IsVertical { get; set; } = false;
    [Parameter] public bool FullHeight { get; set; } = false;

    [Parameter] public float Gap { get; set; }
    [Parameter] public string BackgroundColor { get; set; } = "#FFFFFF";

    [Parameter] public string Direction { get; set; } = FlexDirection.Row;
    [Parameter] public string AlignItem { get; set; } = AlignItems.Stretch;
    [Parameter] public string JustifyContent { get; set; } = CssValues.JustifyContent.Center;
}

<Styled @bind-Classname="ComponentClass">
    display: flex;
    height: @(FullHeight ? "100%" : "auto");
    flex-direction: @(IsVertical ? "column" : IsHorizontal ? "row" : Direction);
    align-items: @AlignItem;
    justify-content: @JustifyContent;
    gap: @(Gap)rem;
    background-color: @BackgroundColor;
</Styled>

<div class="@ComponentClass @(CapturedAttributes.GetValueOrDefault<string>("class"))" @attributes="@CapturedAttributes.Without("class")">
    @ChildContent
</div>

@code {
    private string GetDirection()
    {
        return IsHorizontal ? "row" :
               IsVertical ? "column" :
               IsHorizontal && IsVertical ? "row" :
               "row";
    }
}