@inherits RTBComponent
@code {
    [Parameter] public bool IsHorizontal { get; set; } = false;

    [Parameter] public bool IsVertical { get; set; } = false;
    [Parameter] public bool FullHeight { get; set; } = false;

    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
}

<div class="flex @(FullHeight ? "h-full" : string.Empty) @(IsHorizontal ? "flex-row" : string.Empty) @(IsVertical ? "flex-col" : string.Empty) @(CapturedAttributes.TryGetValue("class", out var classes) ? classes : string.Empty)"
     @attributes="@(CapturedAttributes.Where(kvp => kvp.Key != "class"))"
>
    @ChildContent
</div>
