@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper
@using RTB.BlazorUI.Interfaces

@inherits RTBComponent

@code {
    [Parameter] public string Columns { get; set; } = "1fr";

    [Parameter] public string Rows { get; set; } = "1fr";

    [Parameter] public bool Center { get; set; } = false;

    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    [Parameter] public string? Gap { get; set; }
}

<Styled @bind-Classname="ComponentClass">
    @(RTBStyle.Build())
    display: grid;
    grid-template-columns: @(Columns);
    grid-template-rows: @(Rows);
    background-color: @(Background);
    gap: @Gap;
</Styled>

<div
    class="@ClassBuilder.Create(ComponentClass, Class).Build()" 
    @attributes="@CapturedAttributes?.Without("class", "style")"
>
    @ChildContent
</div>