@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper
@using RTB.BlazorUI.Interfaces

@inherits RTBComponent

@code {
    [Parameter] public string Columns { get; set; } = "1fr";

    [Parameter] public string Rows { get; set; } = "1fr";

    [Parameter] public bool FullHeight { get; set; } = false;

    [Parameter] public bool Center { get; set; } = false;

    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    [Parameter] public string? Background { get; set; }

    [Parameter] public string? Gap { get; set; }
}

<Styled @bind-Classname="ComponentClass">
    display: grid;
    height: @(FullHeight ? "100%" : "auto");
    grid-template-columns: @(Columns);
    grid-template-rows: @(Rows);
    background-color: @(Background);
    gap: @Gap;
</Styled>

<div class="@ComponentClass @(CapturedAttributes.GetValueOrDefault<string>("class"))"
     @attributes="@(CapturedAttributes.Without("class"))"
>
    @ChildContent
</div>