@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper

@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public int Column { get; set; } = 0;
    [Parameter] public int ColumnSpan { get; set; } = 1;
    [Parameter] public int Row { get; set; } = 0;
    [Parameter] public int RowSpan { get; set; } = 1;

    [Parameter] public bool FullHeight { get; set; }
    [Parameter] public bool FullWidth { get; set; }

    [Parameter] public string? Overflow { get; set; }
}

<Styled @bind-Classname="@ComponentClass">
    grid-column: @(Column > 0 ? Column : "auto") / span @ColumnSpan;
    grid-row: @(Row > 0 ? Row : "auto") / span @RowSpan;

    @(StyleBuilder.Create().AppendIf("overflow", Overflow, Overflow != null).AppendIf("width", "100%", FullWidth).AppendIf("height", "100%", FullHeight).Build())
</Styled>

<div class="@ComponentClass @(CapturedAttributes.GetValueOrDefault<string>("class"))" @attributes="@(CapturedAttributes.Without("class"))">
    @ChildContent
</div>