@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper
@using RTB.BlazorUI.Interfaces

@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string Columns { get; set; } = "1fr";
    [Parameter] public string Rows { get; set; } = "1fr";
    [Parameter] public bool Center { get; set; } = false;
    [Parameter] public string? Gap { get; set; }
}

<Styled Context="ComponentClass">
    <GridDisplay TemplateColumns="@Columns" TemplateRows="@Rows" Gap="@Gap" />
    
    <div
        class="@ClassBuilder.Create("Grid", ComponentClass, Class).Build()" 
        @attributes="@CapturedAttributes"
    >
        @ChildContent
    </div>
</Styled>