@using RTB.BlazorUI.Extensions
@using RTB.BlazorUI.Helper

@inherits RTBComponent

@code {
    [Parameter] public int Column { get; set; } = 0;
    [Parameter] public int ColumnSpan { get; set; } = 1;
    [Parameter] public int Row { get; set; } = 0;
    [Parameter] public int RowSpan { get; set; } = 1;
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;
}

<Styled @bind-Classname="@ComponentClass">
    grid-column: @(Column > 0 ? Column : "auto") / span @ColumnSpan;
    grid-row: @(Row > 0 ? Row : "auto") / span @RowSpan;
</Styled>

<div class="@ComponentClass @(CapturedAttributes.GetValueOrDefault<string>("class"))" @attributes="@(CapturedAttributes.Without("class"))">
    @ChildContent
</div>