
@inherits RTBComponent

@code {
    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    [Parameter] public string? X { get; set; }
    [Parameter] public string? Y { get; set; }
    [Parameter] public string? Value { get; set; }
}

<Styled Context="ComponentClass">
    <Overflow X="@X" Y="@Y" Value="@(Value ?? "auto")" />

    <div class="Overflow @ComponentClass @Class" @attributes="@CapturedAttributes">
        @ChildContent
    </div>
</Styled>
