@using RTB.BlazorUI.Styles
@using RTB.BlazorUI.Styles.Helper

@inherits RTBComponent

@code {
    public enum TextAlign { Left, Center, Right }

    [Parameter] public RenderFragment ChildContent { get; set; } = default!;

    [Parameter] public TextStyle? TextStyle { get; set; }

    [Parameter] public string Element { get; set; } = "p";
    [Parameter] public TextAlign? Align { get; set; }
    [Parameter] public string? FontSize { get; set; }
    [Parameter] public string? FontWeight { get; set; }
    [Parameter] public string? LineHeight { get; set; }
    [Parameter] public string? TextDecoration { get; set; }
    [Parameter] public string? Color { get; set; }
}

<Styled Context="ComponentClass">
    <PreStyled Style="@TextStyle" />
    <Other Property="text-align" Value="@Align?.ToCss()" />
    <Other Property="font-size" Value="@FontSize" />
    <Other Property="font-weight" Value="@FontWeight" />
    <Other Property="line-height" Value="@LineHeight" />
    <Other Property="text-decoration" Value="@TextDecoration" />
    <Color Value="@Color" />

    <p class="@($"{ComponentClass} {Class}")">
        @ChildContent
    </p>
    
</Styled>
