@using RTB.Sample.Theme

<RTB.Blazor.Theme.Components.RTBThemeContext TTheme="ISampleTheme">
    <RTB.Blazor.UI.Services.Dialog.Components.RTBDialogContext>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </RTB.Blazor.UI.Services.Dialog.Components.RTBDialogContext>
</RTB.Blazor.Theme.Components.RTBThemeContext>
