@using Microsoft.AspNetCore.Components.Rendering
@using RTB.Blazor.Services.Dialog
@using RTB.Blazor.Services.Theme
@using RTB.Sample.Theme

<RTBThemeContext TTheme="ISampleTheme">
    <RTBDialogContext>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </RTBDialogContext>
</RTBThemeContext>

@Test1(0)
@{ Test2(__builder, 0); }

@code {
    private RenderFragment Test1(int count)
    {
        return builder =>
        {
            for (int i = 0; i < count; i++)
            {
                builder.OpenElement(0, "p");
                builder.AddContent(1, $"This is paragraph {i + 1}");
                builder.CloseElement();
            }
        };
    }

    private void Test2(RenderTreeBuilder builder, int count)
    {
        for (int i = 0; i < count; i++)
        {
            builder.OpenElement(0, "p");
            builder.AddContent(1, $"This is paragraph {i + 1}");
            builder.CloseElement();
        }
    }
}